<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <!-- My CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">

    <title>Hello, world!</title>
  </head>
  <body>
     <!-- navbar -->
     <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <div class="container">
          <a class="navbar-brand" id="navbar-brand" href="#">Grafik Kematangan Pisang</a>
          <button class="navbar-toggler" id="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="http://192.168.43.150">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://192.168.43.150/testing">Testing</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- end navbar -->

      <div class="container">
        <div class="content">
          <div class="grafikPie">
            <canvas id="myChartPie"></canvas>
          </div>

          <div class="grafikBar">
            <canvas id="myChartBar"></canvas>
          </div>
        </div>
      </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='node_modules/chart.js/dist/chart.js') }}"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->

    <script>
    const ctxPie = document.getElementById('myChartPie').getContext('2d');
    const myChartPie = new Chart(ctxPie, {
        type: 'pie',
        data: {
            labels: ['Mentah', 'Matang', 'Sangat Matang'],
            datasets: [{
                label: '# of Votes',
                data: [
                  {{ res[1] }},
                  {{ res[2] }},
                  {{ res[3] }},
                ],
                backgroundColor: [
                    'rgba(99, 255, 100, .2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 150, 86, .2)',
                ],
                borderColor: [
                    'rgba(89, 255, 10, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 150, 86, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    </script>

    <script>
      const ctxBar = document.getElementById('myChartBar').getContext('2d');
      const myChartBar = new Chart(ctxBar, {
        type: 'bar',
        data: {
            labels: ['Mentah', 'Matang', 'Sangat Matang'],
            datasets: [{
                label: '# Tingkat Kematangan',
                data: [
                  {{ res[1] }},
                  {{ res[2] }},
                  {{ res[3] }},
                ],
                backgroundColor: [
                    'rgba(99, 255, 100, .2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 150, 86, .2)',
                ],
                borderColor: [
                    'rgba(89, 255, 10, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 150, 86, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    </script>
  </body>
</html>